/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Fullwidth inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inlineblock;
  border: 1px solid #ccc;
  boxsizing: borderbox;
}

/* Set a style for all buttons */
button {
  backgroundcolor: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  backgroundcolor: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  textalign: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 20%;
  borderradius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  paddingtop: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (maxwidth: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* Add a black background color to the top navigation */
.topnav {
  backgroundcolor: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  textalign: center;
  padding: 14px 16px;
  textdecoration: none;
  fontsize: 17px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn, .dropdowncontent a:hover{
  backgroundcolor: #ddd;
  color: black;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  fontsize: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  backgroundcolor: inherit;
  fontfamily: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdowncontent {
  display: none;
  position: absolute;
  backgroundcolor: #f9f9f9;
  minwidth: 160px;
  boxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  zindex: 1;
}

/* Links inside the dropdown */
.dropdowncontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  textdecoration: none;
  display: block;
  textalign: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdowncontent {
  display: block;
}

/* Add a color to the active/current link */
.topnav a.active {
  backgroundcolor: #4CAF50;
  color: white;
}