<div id="page">
<form action="createbike.php" method="GET">
<!--	<label for="serial">Serial Number</label>
<input type="text" name="serial" placeholder="Serial Number"></input><br /> -->
	<label for="model">Model</label>
	<input type="text" name="model" class="form-control" placeholder="model"></input><br />
	<label for="store">Store</label>
	<input type="text" name="store" class="form-control" placeholder="store"></input><br />
	<label for="customer">Customer</label>
	<input type="text" name="customer" class="form-control" placeholder="customer"></input><br />
	<label for="paint">Paint</label>
	<input type="text" name="paint" class="form-control" placeholder="paint"></input><br />
	<label for="price">Price</label>
	<input type="text" name="price" class="form-control" placeholder="100"></input>
	<input type="submit" />
</form>
</div>
</body>
</html>
